
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure Reports
/allure-results/
/allure-report/
reports/

# Build artifacts and archives
*.zip
*.tar.gz
*.rar
